rasa==3.1.0
rasa-sdk==3.1.0  # if you change this, make sure to change the Dockerfile to match
pytablewriter
requests
ruamel.yaml
sanic-jwt<2.0.0,>=1.6.0
google-auth<2
python-dateutil<2.9,>=2.8
attrs<21.3,>=19.3
numpy==1.21.4
absl-py<0.14,>=0.9
dask==2021.11.2
tqdm<5.0,>=4.31
pydot<1.5,>=1.4
mattermostwrapper<2.3,>=2.2
scikit-learn<0.25,>=0.22

